/*For Main Index Header*/
.header {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

.header-no_underline a {
	text-decoration: none;
}


/*For Side Bar*/
.sidebar-container {
   position: fixed;
   left: 0px;
   bottom: 0px;
   top: 0px;
   background-color: #2a2e33;
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
}

.sidebar-logo {
	background-image: url("../images/franklyinc_logo_color_large.png");
	background-size: 100%;
	margin: 30px;
	width: 210px;
	height: 70px;
}

.sidebar-content {
   margin-right: 30px;
   color: #ffffff;
   font-family: 'Roboto', sans-serif;
   line-height: 30px;
}

.sidebar a {
	text-decoration: none;
	color: #ffffff;
}

.sidebar a:visited {
	color: #ffffff;
}

.sidebar a:hover {
	color: #C6C9CE;
}

.sidebar li {
	list-style-type: none;
}

/*For Responsive Header*/
@media (min-width: 768px) {
	.nav li {
		height: 0;
		display: none;
	}

	nav.navbar {
		margin-top:-51px;
		opacity: 0;
		transition: all 0.5s;
	}
	.sidebar-container {
		margin-left: 0px;
		transition: all 0.5s;
	}
	.container.container-body {
		margin-left: 315px;
		transition: all 0.5s;
	}
}

@media (max-width: 767px) {
	.sidebar-container {
		margin-left: -315px;
		opacity: 0;
		transition: all 0.5s;
	}
	.container.container-body {
		margin-left: 0px;
		transition: all 0.5s;
	}
	nav.navbar {
		margin-top:0px;
		transition: all 0.5s;
	}
}

nav.navbar {
	background-color: #2a2e33;
}	

.mobile-logo {
	background-image: url("../images/franklyinc_logo_color_large.png");
	background-size: 100%;
	margin: 5px;
	width: 120px;
	height: 40px;
}


/*For Index Body*/
.doc {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

.doc a {
	text-decoration: none;
}

.doc h {
	text-decoration: none;
}

img {
	max-width: 100%;
        }

/*For Wells*/
.well-bottom-nav {
	position: relative;
	width: 70%;
	left: 330px;
	padding-top: 20px;
	padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

/*For Page Buttons*/
.pager-container {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

iframe {
  border: 0;
  overflow: auto;
}

.fill {
  width: 100%;
  height: 90%;
}

html .fill {
  margin: 0;
  width: 1500px;
  height: 100%;
  overflow: none;
}

body .fill {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: none;
}

/*For Code Snippets*/
/*All other Code Snippet Formatting is handled by Prettify now*/
